 <div class="">
      <div class="py-[5px] px-0 ">
        <div class="px-0 transition-opacity duration-500">
          <h2 class="text-[#253746] font-[garamond-premier-pro] text-[2.8rem] font-normal leading-[1.2857142857] tracking-[0]">
            <span class="w-[147px] h-[38px]">
              {%- if customer %}Hi, {{ customer.first_name }}{% else %}{{ 'customer.account.account' | t }}{% endif -%}
            </span>
          </h2>
          {% unless customer %}
            <span class="text-[#5E5E5E] text-[13px] font-[DS_Trade_Gothic] w-[312.31px] h-[12px]">
              {{- 'customer.account.sign_in_rewards' | t -}}
            </span>
          {% endunless %}
        </div>
        {% unless customer %}
          <div class=" py-[10px] px-0 transition-opacity duration-500">
            <div class=" flex gap-[15px]">
              <modal-opener data-modal="#LoginModal">
                {% comment %} <a href="{{ routes.account_login_url }}"> {% endcomment %}
                <button
                  class="button btn-login bg-[#253746] px-[15px] py-0 h-[50px] text-white text-center"
                  data-action="open-login"
                  data-variant="secondary"
                >
                  <span class="w-[49px] h-[18px] pointer-events-none">{{ 'customer.login_page.sign_in' | t }}</span>
                </button>
                {% comment %} </a> {% endcomment %}
              </modal-opener>
              <modal-opener data-modal="#CreateAccountModal">
                {% comment %} <a href="{{ routes.account_register_url }}"> {% endcomment %}
                <button
                  data-variant="tertiary-dark"
                  class="button join-btn  h-[50px] flex-1 border border-black py-2 ml-2 font-semibold"
                  data-action="open-join"
                >
                  <span class="">{{ 'customer.login_page.join' | t }}</span>
                </button>
                {% comment %} </a> {% endcomment %}
              </modal-opener>
            </div>
          </div>
        {% endunless %}
        <div class="py-[10px] px-0">
          <div class="">
            <ul class="pt-[11px]">
              {%- capture purchase_history_link -%}
                <span class=".icon-link-text font-bold">
                  <span>{{ 'customer.purchase_history.title' | t }}</span>
                  <span class="block font-medium">{{ 'customer.purchase_history.order_track' | t }}</span>
                  <span aria-hidden="true" class="icon link-arrow" data-icon="right-thin" data-testid="icon"></span>
                </span>
              {%- endcapture -%}

              {%- capture account_settings_link -%}
                <span class=".icon-link-text font-bold">
                  <span>{{ 'customer.account.acc_settings' | t }}</span>
                  <span class="block font-medium">{{ 'customer.account.acc_settings_subtext' | t }}</span>
                  <span aria-hidden="true" class="icon link-arrow" data-icon="right-thin" data-testid="icon"></span>
                </span>
              {%- endcapture -%}

              <li class="mb-[11px] relative">
                {% if customer %}
                  <a class="link-button" href="{{ routes.account_url }}">
                    {{ purchase_history_link }}
                  </a>
                {% else %}
                  <modal-opener data-modal="#LoginModal">
                    <button class="link-button w-full text-left">
                      {{ purchase_history_link }}
                    </button>
                  </modal-opener>
                {% endif %}
              </li>

              <li class="mb-[11px] relative">
                <a class="link-button" href="/pages/my-list">
                  <span class=".icon-link-text font-bold">
                    <span>{{ 'customer.my_list_page.title' | t }}</span>
                    <span class="block font-medium">{{ 'customer.my_list_page.save_item_list' | t }}</span>
                    <span aria-hidden="true" class="icon link-arrow" data-icon="right-thin" data-testid="icon"></span>
                  </span>
                </a>
              </li>

              <li class="mb-[11px] relative">
                {% if customer %}
                  <a class="link-button" href="/pages/account">
                    {{ account_settings_link }}
                  </a>
                {% else %}
                  <modal-opener data-modal="#LoginModal">
                    <button class="link-button w-full text-left">
                      {{ account_settings_link }}
                    </button>
                  </modal-opener>
                {% endif %}
              </li>
            </ul>

            <hr class="h-[0.1px] my-[25px] bg-divider border-0 dark:bg-divider">
          </div>
          <div class="">
            <ul class=" pt-[11px]">
              <li class=" mb-[11px] relative">
                <a href="/pages/store-map-locator" class="block cursor-pointer link-button">
                  <span class=".icon-link-text font-bold">
                    <span class="">{{ 'customer.account.store' | t }}</span>
                    <span
                      aria-hidden="true"
                      class="icon link-arrow-text"
                      data-icon="right-thin"
                      data-testid="icon"
                    ></span>
                  </span>
                </a>
              </li>

              <li class="mb-[11px] relative">
                <a href="/pages/help-page" class="block cursor-pointer link-button">
                  <span class=".icon-link-text font-bold">
                    <span class="">{{ 'customer.account.customer_service' | t }}</span>
                    <span
                      aria-hidden="true"
                      class="icon link-arrow-text"
                      data-icon="right-thin"
                      data-testid="icon"
                    ></span>
                  </span>
                </a>
              </li>
            </ul>
            <hr class="h-[0.1px] my-[25px] bg-[#c6c6c6] border-0 dark:bg-[#c6c6c6]">
            {% if customer %}
              <div class="mt-2rem">
                <a
                  href="{{ routes.account_logout_url }}"
                  class="w-full py-2 font-semibold  button  !border !border-[#c6c6c6] pb-[3px] pt-[3px] !text-[#253746] hover:!bg-[#4b4b4b] hover:!border-[#4b4b4b] hover:!text-white"
                >
                  <span class="">{{ 'customer.log_out' | t }}</span>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  

{% schema %}
{
  "name": "Mobile Account Section",
  "settings": [],
  "presets": [
    {
      "name": "Mobile Account Section",
      "category": "Custom"
    }
  ]
}
{% endschema %} 
